

<div class="d-flex flex-column justify-content-center align-items-center vh-50 text-center">
  <div class="linha-preta"></div>
  
  <h1 class="text-dark custom-title">A MELHOR BARBEARIA PARA O SEU ESTILO!</h1>
  
</div>



<div class="d-flex flex-wrap justify-content-center align-items-center mt-5" style="min-height: 10vh;">
  <form class="form-signin p-4  shadow bg-white">
    <div class="container">
      <h2 class="mb-4 text-center">Adicionar Cliente</h2>
      <form (ngSubmit)="adicionarUsuario()">
        <div class="d-flex flex-wrap justify-content-center">
          <div class="mb-3 me-3">
            <label for="nome" class="form-label">Nome:</label>
            <input type="text" class="form-control" id="nome" [(ngModel)]="usuario.nome" name="nome" required>
          </div>

          <div class="mb-3 me-3">
            <label for="diaTrabalho" class="form-label">Dia de Trabalho:</label>
            <input type="date" class="form-control" id="diaTrabalho" [(ngModel)]="usuario.diaTrabalho" name="diaTrabalho" required>
          </div>

          <div class="mb-3 me-3">
            <label for="inicioTrabalho" class="form-label">Início do Serviço:</label>
            <input type="time" class="form-control" id="inicioTrabalho" [(ngModel)]="usuario.inicioTrabalho" name="inicioTrabalho" required>
          </div>

          
        </div>

        <div class="text-center mt-4">
          <button type="submit"  class="btn btn-black custom-btn mt-3" (click)="listarUsuarios()">Adicionar</button>
        </div>
      </form>
    </div>
  </form>
</div>
