
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
      <a class="navbar-brand" href="#">✂ Barbearia Elite</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                  <a class="nav-link" href="#">Início</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Serviços</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Equipe</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Contato</a>
              </li>
              <li class="nav-item">
                  <a class="btn btn-agendar text-white" href="#">Agendar Agora</a>
              </li>
          </ul>
      </div>
  </div>
</nav>
