@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  font-family: "Big Shoulders Stencil", sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
body {
  background-color: #fbe800; /* Cinza bem claro */
}